.to-do-list-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  padding: 15px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-task-button {
  background-color: hsl(120, 32%, 63%);
  margin-left: 15px;
}

.add-task-button:hover {
  background-color: hsl(120, 32%, 50%);
}

.remove-task-button {
  background-color: hsl(358, 58%, 56%);
}

.remove-task-button:hover {
  background-color: hsl(358, 58%, 46%);
}

.move-task {
  background-color: hsl(197, 70%, 54%);
}

.move-task:hover {
  background-color: hsl(197, 70%, 44%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 97%);
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.remove-task-button,
.move-task {
  margin-left: 12px;
  padding: 8px 10px;
  font-size: 1.2rem;
}
